[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
    ignore = dirty
[submodule "vim/bundle/camelcasemotion"]
	path = vim/pack/plugins/start/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
    ignore = dirty
[submodule "vim/bundle/CSApprox"]
	path = vim/pack/plugins/start/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
    ignore = dirty
[submodule "vim/bundle/JavaImp.vim--Lee"]
	path = vim/bundle/JavaImp.vim--Lee
	url = https://github.com/vim-scripts/JavaImp.vim--Lee.git
    ignore = dirty
[submodule "vim/bundle/mediawiki"]
	path = vim/pack/plugins/start/mediawiki
	url = https://github.com/vim-scripts/mediawiki.git
    ignore = dirty
[submodule "vim/bundle/moin.vim"]
	path = vim/bundle/moin.vim
	url = https://github.com/vim-scripts/moin.vim.git
    ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "vim/bundle/python.vim"]
	path = vim/bundle/python.vim
	url = https://github.com/vim-scripts/python.vim.git
    ignore = dirty
[submodule "vim/bundle/rails.vim"]
	path = vim/pack/plugins/start/rails.vim
	url = https://github.com/vim-scripts/rails.vim.git
    ignore = dirty
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
    ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/bundle/vim-easymotion"]
	path = vim/pack/plugins/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
    ignore = dirty
[submodule "vim/bundle/vim-perl"]
	path = vim/pack/plugins/start/vim-perl
	url = git://github.com/petdance/vim-perl.git
    ignore = dirty
[submodule "vim/bundle/vim-scala"]
	path = vim/pack/plugins/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
    ignore = dirty
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
    ignore = dirty
[submodule "vim/bundle/tlib_vim"]
	path = vim/pack/plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
    ignore = dirty
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
    ignore = dirty
[submodule "vim/bundle/vim-template"]
	path = vim/bundle/vim-template
	url = https://github.com/aperezdc/vim-template.git
    ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "vim/bundle/vim-golang"]
	path = vim/pack/plugins/start/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/pack/plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/dustjs.vim"]
	path = vim/bundle/dustjs.vim
	url = https://github.com/jimmyhchan/dustjs.vim.git
[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/python-pep8-indent"]
	path = vim/pack/plugins/start/python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/bundle/github-colorscheme"]
	path = vim/pack/plugins/start/github-colorscheme
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "vim/bundle/colors-solarized"]
	path = vim/pack/plugins/start/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/ansible-vim"]
	path = vim/pack/plugins/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-dokuwiki"]
	path = vim/pack/plugins/start/vim-dokuwiki
	url = https://github.com/nblock/vim-dokuwiki.git
[submodule "vim/bundle/angular2-snippets"]
	path = vim/pack/plugins/start/angular2-snippets
	url = https://github.com/mhartington/vim-angular2-snippets.git
[submodule "vim/bundle/neosnippet"]
	path = vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "vim/bundle/neosnippet-snippets"]
	path = vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-easy-align"]
	path = vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/pack/plugins/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "vim/bundle/vim-js-pretty-template"]
	path = vim/pack/plugins/start/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule "vim/bundle/python3-syntax"]
	path = vim/pack/plugins/start/python3-syntax
	url = https://github.com/wmayner/python3-syntax.git
[submodule "vim/bundle/vimpy"]
	path = vim/pack/plugins/start/vimpy
	url = https://github.com/dbsr/vimpy.git
[submodule "vim/bundle/vim-vue"]
	path = vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim/bundle/tsuquyomi-vue"]
	path = vim/pack/plugins/start/tsuquyomi-vue
	url = https://github.com/Quramy/tsuquyomi-vue.git
[submodule "vim/bundle/neomake"]
	path = vim/pack/plugins/start/neomake
	url = https://github.com/neomake/neomake.git
[submodule "vim/bundle/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/plugins/start/deoplete-jedi"]
	path = vim/pack/plugins/start/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule "vim/pack/plugins/start/deoplete.nvim"]
	path = vim/pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/plugins/start/jedi-vim"]
	path = vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/pack/plugins/start/vim-jsx-typescript"]
	path = vim/pack/plugins/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "vim/pack/plugins/start/vim-jsx-pretty"]
	path = vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/plugins/start/typescript-vim"]
	path = vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
